# Ignore bundler config
/.bundle

# Ignore Sass' cache
/.sass-cache

# Ignore the build directory
/build

# Ignore components directory. Will need to change this if you change bower's install path
/components

