// Make sure the charset is set appropriately
@charset "UTF-8";

@import "vendor/reset";

@import "compass/css3";
@import "mixins";

$cta-color: #00a3cc;

body {
  background: #1c1f23;
  font-family: "brandon-grotesque", sans-serif;
  color: #cbced3;
}

a {
  text-decoration: none;

  &.btn {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    padding: 18px 24px;
    text-transform: uppercase;
    @include border-radius(42px); }

  &.btn-subtle {
    color: #cbced3;
    border: 2px solid #cbced3;
    display: block;

    &:hover {
      background: #f96138;
    }
  }
  &.btn-cta {
    background: $cta-color;

    &:hover {
      background: #0093B8;
    }
  }
}

h1 {
  font-size: 44px; }

h2 {
  font-size: 30px;
  margin-bottom: 17px;
}

article p {
  font-size: 20px;
  font-family: "ff-tisa-web-pro", serif;
  font-weight: 400;
  line-height: 36px;

  a {
    color: $cta-color;

    &:hover {
      color: darken($cta-color, 5%);
    }
  }
}

ul li {
  list-style-type: none;
}

//// Layout ////

header {
  @media( min-width:768px) {
    padding: 50px;
  }
  padding: 20px;
  text-align: center;
  position: relative;

  text-transform: uppercase;
  font-weight: 900;
  color: #cbced3;
  font-size: 14px;

  ul.top-menu {
    margin-top: 80px;

    @media( min-width:768px) {
      margin-top: 15px;
      position: absolute;
      left: 50px; top: 50px;
    }

    li {
      display: inline-block;
      margin-right: 20px;

      a {
        color: #cbced3;
        display: block;
        padding: 8px 10px;
        @include transition-property(background);
        @include transition-duration(0.1s);

        @include border-radius(20px);

        &:hover, &.active {
          background: #25292e;
        }
      }
    }
  } //.top-menu

  img.logo {
    display: block;
    width: 58px;
    height: 58px;
    margin: 0px auto;
    @include transition-property(transform);
    @include transition-duration(0.7s);
    overflow:hidden;

    @media( min-width:768px) {
      top: -110px;
      position: relative;
    }

    &:hover {
      @include rotate(360deg);
    }
  }


  .btn-subtle {
    margin-top: 3px;
    position: absolute;
    right: 50px; top: 50px;
    @include transition-property(background);
    @include transition-duration(0.2s);
  }
}

footer {
  background: #1c1f23;
  padding: 50px;
  text-align: center;
  position: relative;

  text-transform: uppercase;
  font-weight: 900;
  color: #cbced3;
  font-size: 14px;

  .copyright {
    position: absolute;
    left: 50px; top: 50px;
  }
}

//// Work page ////

section.shots {
  margin: 40px auto 100px;
  max-width: 1020px;
  text-align: center;

  a {
    padding: 20px;
    display: inline-block;

    img {
      width: 200px;
      height: 150px;
    }
  }
}

section.social {
  text-align: center;
  @include clearfix;

  .inner {
    max-width: 1440px;
    margin: 0 auto;
    @include clearfix;
    padding: 100px 20px 120px; }

  .meta-text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block; }

  img {
    display: inline-block; }

  p {
    max-width: 600px;
    margin: 0 auto;
    @include clearfix; }

  .btn-cta {
    margin-top: 35px;
    @include transition-property(background);
    @include transition-duration(0.1s);
  }


  li.twitter {
    h2 {
      margin-top: 10px;
    }
  }

  li.instagram {
    .instagram-image {
      width: 153px;
      height: 153px;
    }
  }



}