/ %footer
/   .copyright © 2013 Victor Erixon

/   %ul.menu-bottom
/     %li= link_to 'Journal', '/journal.html'
/     %li= link_to 'Profile', '/profile.html'
/     %li= link_to 'Work', '/'
/     %li= link_to '&nbsp;', '/', class: "icon-mail"

/   = link_to 'Begin a project', '/contact.html', class: "button"